@font-face
  font-family: 'Basis Grotesque Pro'
  font-style: normal
  font-weight: normal
  src: local('Basis Grotesque Pro'), url('/api/fonts/BasisGrotesquePro-Regular.woff') format('woff')


@font-face
  font-family: 'Basis Grotesque Pro Bold'
  font-style: normal
  font-weight: normal
  src: local('Basis Grotesque Pro Bold'), url('/api/fonts/BasisGrotesquePro-Bold.woff') format('woff')


@font-face
  font-family: 'Basis Grotesque Pro Light'
  font-style: normal
  font-weight: normal
  src: local('Basis Grotesque Pro Light'), url('/api/fonts/BasisGrotesquePro-Light.woff') format('woff')
