.feedback-interactions {
  margin: 1.5em auto 0 auto;
  padding-right: 0;
  &__items {
    display: flex;
    flex-flow: wrap;
    margin-left: -1%;
    margin-right: -1%;
    & > * {
      // flex-basis: 31%;
      width: 30%;
      min-width: 240px;
      flex-grow: 0;
      flex-shrink: 0;
      margin-left: 1% !important;
      margin-right: 1% !important;
    }
  }
}
.--animate {
  transform: translateY(-4em);
  opacity: 0;
  transition: opacity 0.6s ease 0.3s, transform 0.6s ease 0.3s;
}
.--discarded {
  .record, .--feedback, ::v-deep .select--class {
    opacity: 0.3;
  }
}
.list__item {
  padding-left: 3em;
  margin-left: 1em;
  padding-top: 2.2em;
  border-radius: 1px;
  &__checkbox {
    position: absolute;
    left: 1.2em;
    top: 1.2em;
    width: auto;
  }
  // &--selected {
  //   background: palette(grey, light) !important;
  // }
}
.global-actions {
  margin-top: 2em;
  padding: 0 1.2em;
  display: flex;
  align-items: center;
  color: palette(grey, medium);
  min-height: 50px;
  border-bottom: 1px solid palette(grey, smooth);
  font-weight: 600;
  // background: palette(grey, light);
  // #{$this}__item {
  //   background: transparent;
  //   display: flex;
  //   padding-left: 1em;
  //   padding-right: 1em;
  //   min-height: 50px;
  //   font-weight: lighter;
  //   p {
  //     width: 100%;
  //     &:last-child {
  //       max-width: 140px;
  //     }
  //   }
  // }
  .re-checkbox {
    position: relative;
    left: 0;
    top: 0;
  }
  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    @extend %container;
    padding-top: 0;
    padding-bottom: 0;
  }
  &__select {
    margin-left: 0.8em;
    border:1px solid palette(grey, smooth);
    border-radius: 5px;
  }
  &__button {
    border-radius: 5px;
    height: 33px;
    border: none;
    min-width: 80px;
    margin-left: 1em;
    margin-right: 1em;
    outline: none;
    font-weight: 600;
    color: palette(grey, medium);
    background: palette(white);
    border:1px solid palette(grey, smooth);
    cursor: pointer;
  }
  &__text {
    color: palette(grey, dark);
    font-weight: normal;
  }
  &--disabled {
    background: palette(white);
    $disable-color: lighten(palette(grey), 20%);
    ::v-deep .checkbox-container {
      background: palette(white) !important;
    }
    .global-actions__button, .global-actions__select {
      pointer-events: none;
      color: $disable-color;
      ::v-deep .dropdown__check:before {
        border-color: $disable-color;
      }
    }
  }
}
.global-actions__text span {
  font-weight: bold;
  color: palette(purple);
}
.tip {
  position: absolute;
  top: 3.1em;
  left: -2em;
  background: white;
  padding: 0.4em 1.6em 0.4em 0.4em;
  box-shadow: $shadow-100;
  max-width: 80px !important;
  z-index: 2;
  span:after {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    content: "\2573";
    color: #9b9b9b;
    font-size: 10px;
    cursor: pointer;
  }
}
.page__number {
  position: fixed;
  right: 2em;
  top: 0;
  display: none;
  background: palette(white);
  border-radius: 10px;
  box-shadow: $shadow;
  min-height: 30px;
  line-height: 30px;
  padding: 0 0.5em;
  z-index: 1;
  max-width: 150px !important;
  &__scroll-button {
    line-height: 30px;
    border-right: 1px solid palette(grey, smooth);
    padding: 0.5em 0.7em 0.5em 0.5em;
    &:after {
      content: '';
      border-color: palette(orange);
      border-style: solid;
      border-width: 2px 2px 0 0;
      display: inline-block;
      height: 10px;
      width: 10px;
      transform: rotate(-45deg);
      transition: all 1.5s ease;
      margin-bottom: -2px;
      margin-left: auto;
      margin-right: 0;
    }
    &:hover {
      &:after {
        border-color: darken(palette(orange), 20%);
      }
    }
  }
  &__text {
    padding: 0 0.5em;
  }
  .--visible & {
    display: block;
  }
}

