.tags {
  min-height: 44px;
  display: block;
  padding: 10px 40px 0 8px;
  border-radius: 2px;
  border: 1px solid palette(grey, light);
  background: palette(grey, light);
  overflow: hidden;
  span {
      margin-right: 3px;
  }
}

// filters tag
.tag {
  position: relative;
  padding: 0.5em 1em;
  border-radius: 0;
  line-height: 1;
  min-height: 41px;
  background: palette(white);
  border-right: 1px solid palette(grey, lines);
  border-bottom: 1px solid palette(grey, lines);
  color: palette(purple);
  float: left;
  display: flex;
  align-items: center;
  margin-bottom: -1px;
  span {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      max-width: 500px;
      text-overflow: ellipsis;
      line-height: 2em;
      vertical-align: middle;
  }
  &--all {
    color: palette(grey, dark);
  }
}

.tag-icon {
  outline: 0;
  cursor: pointer;
  margin-left: 1em;
  font-weight: 700;
  font-style: initial;
  width: 22px;
  text-align: center;
  line-height: 22px;
  transition: all 0.2s ease;
  border-radius: 5px;
}

.tag-icon:after {
  content: '✕';
  font-weight: bold;
  color: palette(grey);
  font-size: 14px;
}
