.record {
  padding: 0 0 0 0;
  display: block;
  @include font-size(18px);
  line-height: 1.5em;
  margin-bottom: 0.5em;
  white-space: pre-line;
  & > div {
    position: relative;
  }
  &.record--feedback {
      margin-right: 9em;
  }
  &__item {
    margin-right: 1em;
    display: inline-block;
  }
  &__key {
    font-weight: lighter;
    margin-right: 0.5em;
    &--explain {
      font-weight: lighter;
      margin: 0.5em 0.5em 0.5em 0;  
      text-transform: uppercase;
      display: block;  
      @include font-size(12px)  
    }
  }
  &__scroll {
    display: block;
    max-height: 300px;
    overflow: auto;
    border: 1px solid palette(grey, smooth);
    @include font-size(14px);
    &__button {
      position: absolute;
      background: palette(white);
      top: 37px;
      right: 2px;
      display: none;
    }
    &--prevent {
      overflow: hidden;
    }
    &:hover, &:focus {
      .record__scroll__button {
        display: block;
      }
    }
  }
  &__textual {
    padding: 0.5em;
    display: inline-block;
  }
  &__list {
    margin-top: 0.5em;
    &__value {
      display: block;
      min-height: 30px;
      padding: 0.5em;
      border-bottom: 1px solid palette(grey, smooth);
      &--highlighted {
        font-weight: 600;
        background: palette(purple, verylight);
      }
    }
  }
  &__value {
    &--highlighted {
      color: palette(purple);
      white-space: normal;
    }
  }
  ::v-deep .record__text__value--highlighted {
    padding: 0.2em 0.5em;
    font-weight: 600;
    background: palette(purple, verylight);
  }
  ::v-deep table {
    width: calc(100% - 3em) !important;
    max-width: 800px;
    display: block;
    overflow: scroll;
  }
  ::v-deep div.WordSection1 {
    word-break: break-all;
    p {
      font-family: initial !important
    }
  }
}