.sidebar {
  @include grid-col($col: 3, $gutter: 1.6em);
  // margin-top: 2em;
  min-width: 270px;
  max-width: 270px;
  margin-left: 3em;
  z-index: 0;
  &__content {
    border-bottom: 1px solid palette(grey, smooth);
    padding: 1em 0 2em 0;
    margin-bottom: 1.8em;
    border-radius: 2px;
  }
  // &--fixed {
  //   .sidebar__wrapper {
  //     position: fixed;
  //     width: 100%;
  //     max-width: 270px;
  //     transition: top 0.2s ease-in-out;
  //   }
  // }
  &--fixed-top {
    &.sidebar--feedback {
      .sidebar__wrapper {
        top: 9.1em;
      }
      .sidebar__content {
        &:first-child {
          margin-top: 0;
        }
      }
    }
    .sidebar__wrapper {
      position: fixed;
      width: 100%;
      max-width: 270px;
      max-height: calc(100% - 40px);
      overflow: auto;
      top: 3.1em;
      transition: top 0.2s ease-in-out;
      padding-right: 1em;
    }
    .sidebar__content {
      &:first-child {
        margin-top: 2em;
      }
    }
  }
  .re-progress {
    width: calc(100% - 90px);
    &--multiple {
      width: calc(100% - 90px);
    }
  }
  label {
    margin-top: 1.2em;
    margin-bottom: 0.5em;
    display: block;
    width: calc(100% - 40px);
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .total {
      font-weight: 600;
      max-width: 100%;
      width: 100%;
  }
  .info {
      position: relative;
      display: flex;
      margin-bottom: 0.7em;
      label {
          margin: 0; // for tagger
          &[class^='color_'] {
              padding: 0.3em;
          }
      }
  }
  .records-number {
      margin-right: 0;
      margin-left: auto;
      strong, &.strong {
        font-weight: bold;
      }
  }
  .progress__block {
      margin-bottom: 2.5em;
      position: relative;
      &:last-of-type {
          margin-bottom: 0;
      }
      &.loading-skeleton {
        opacity: 0;
      }
      .re-progress {
          margin-bottom: 0.5em;
      }
      p {
          @include font-size(18px);
          margin-top: 0;
          font-weight: 600;
          &:not(.button) {
              pointer-events: none;
          }
      }
      .button-icon {
        color: palette(orange);
        padding: 0;
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 0;
        margin-top: 2em;
        .svg-icon {
          fill: palette(orange);
          margin-left: 1em;
        }
      }
  }
  .progress {
      float: right;
      line-height: 0.8em;
      @include font-size(12px);
      font-weight: bold;
      &--percent {
        line-height: 20px;
      }
  }
}
