@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900|Open+Sans:300,400,600,700');
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 100%;
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

body {
  min-height: 100vh;
  margin: 0;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: palette(grey, dark);
  font-family: $ff;
  @include font-size(13px);
  line-height: $base-line-height;
  background: palette(white);
  &.--fixed {
    max-height: 100vh;
    overflow: hidden;
    pointer-events: none;
  }
}

.biome-app {
  background: palette(grey, light);
  min-height: 100vh;
  p {
    font-size: 13px;
    font-family: $ff;
  }
  ul {
    margin: auto;
  }
}

a,
button {
  color: palette(grey, dark);
}

audio,
img,
svg,
object,
embed,
canvas,
video,
iframe {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
select {
  text-transform: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  background: transparent;
  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}

[tabindex='-1']:focus {
  outline: none !important;
}

// Icons svg
.svg-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  color: inherit;
  vertical-align: middle;
  fill: none;
  stroke: currentColor;
}

.svg-fill {
  fill: currentColor;
  stroke: none;
}

// .vdr {
//   position: relative !important;
// }

// .navbar .handle.handle-mr {
//   display: block !important;
//   height: 100% !important;
//   margin: 0 !important;
//   background: none !important;
//   border: 0;
//   top: 0 !important;
//   border-left: 1px solid transparent;
//   &:hover,
//   &:focus {
//     cursor: ew-resize;
//     border-left: 1px solid palette(purple);
//     transition: all 0.4s $cb-fast;
//     & ~ .navbar__toggle {
//       opacity: 1;
//     }
//   }
// }

// transitions
// FADE
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease-in-out;
}

.fade-enter,
.fade-leave-to,
.fade-leave-active {
  opacity: 0;
}

// FADE LIST
.list-enter-active,
.list-enter-active p,
.list-leave-active p {
  transition: all 1s;
}

.list-enter p,
.list-leave-to p
/* .list-leave-active below version 2.1.8 */

 {
  opacity: 0;
}

// sr only
.sr-only {
  @extend %visuallyhidden;
}

.hidden-input {
  opacity: 0;
  position: absolute;
  bottom: 100%;
}

// .no-results {
//   margin-top: 2em;
//   @include font-size(30px);
//   font-family: $sff;
//   text-align: center;
// }

// .gitgraph-tooltip {
//   position: absolute;
//   margin-top: -15px;
//   margin-left: 25px;
//   padding: 10px;
//   border-radius: 5px;
//   background: palette(white);
//   color: palette(purple, medium);
//   text-align: center;
//   line-height: 20px;
//   z-index: 1;
//   border: 1px solid palette(purple, medium);
// }
// // dynamic scroll
// .vue-recycle-scroller{position:relative}.vue-recycle-scroller.direction-vertical:not(.page-mode){overflow-y:auto}.vue-recycle-scroller.direction-horizontal:not(.page-mode){overflow-x:auto}.vue-recycle-scroller.direction-horizontal{display:flex}.vue-recycle-scroller__slot{flex:auto 0 0}.vue-recycle-scroller__item-wrapper{flex:1;box-sizing:border-box;overflow:hidden;position:relative}.vue-recycle-scroller.ready .vue-recycle-scroller__item-view{position:absolute;top:0;left:0;will-change:transform}.vue-recycle-scroller.direction-vertical .vue-recycle-scroller__item-wrapper{width:100%}.vue-recycle-scroller.direction-horizontal .vue-recycle-scroller__item-wrapper{height:100%}.vue-recycle-scroller.ready.direction-vertical .vue-recycle-scroller__item-view{width:100%}.vue-recycle-scroller.ready.direction-horizontal .vue-recycle-scroller__item-view{height:100%}.resize-observer[data-v-b329ee4c]{position:absolute;top:0;left:0;z-index:-1;width:100%;height:100%;border:none;background-color:transparent;pointer-events:none;display:block;overflow:hidden;opacity:0}.resize-observer[data-v-b329ee4c] object{display:block;position:absolute;top:0;left:0;height:100%;width:100%;overflow:hidden;pointer-events:none;z-index:-1}
