.branding {
    color: palette(white);
    &.colored {
        color: palette(purple);
    }
    &__biome {
        margin-right: 0.5em;
    }
    &__recognai {
        margin-left: 0.5em;
    }
    &__text {
        display: inline-block;
        line-height: 2em;
        vertical-align: middle;
        span {
            @include font-size(20px);
            vertical-align: middle;
        }
    }
}