.loading-skeleton {
  $this: &;
  background: palette(white) !important;
  pointer-events: none;
  position: relative;
  min-height: 100vh;
  &__line {
    position: absolute;
    top: 0;
    height: 2px;
    display: block;
    background: palette(purple, verylight);
    animation: width 1s ease 0.5s infinite;
  }
}

@keyframes width {
  0% {
    width: 0
  }
  100% {
    width: 100%
  }
}
.skeleton-leave-active {
  .loading-skeleton__line {
    animation: width 1s ease 0s infinite;
  }
}