.navbar {
    flex-shrink: 0;
    top: 0 !important;
    position: relative;
    transition: all 0.3s $cb-fast;
    background: palette(white);
    height: 100vh !important;
    max-width: 220px;
    padding: 0 0 23px 0;
    width: 220px;
    min-width: 70px;
    z-index: 2 !important;
    &:not(.vdr) {
        min-width: 220px;
    }
    nav {
        display: flex;
        flex-flow: column;
        overflow-y: auto;
        height: 100%;
    }
    &--collapsed,
    &.resize--collapsed {
        max-width: 70px;
        transition: all 0.3s $cb-fast;
        .navbar__button {
            text-align: center;
            span {
                opacity: 0;
                font-size: 0;
                transition: opacity 0.2s $cb-fast;
            }
        }
        .oncollapsed--hide {
            display: none
        }
        .badge {
            right: 1em;
            margin-top: 1.5em;
        }
        .navbar__toggle span {
            transform: none;
            right: auto;
        }
        .is-active+.dropdown__content {
            display: none;
        }
        .navbar__icon {
            display: none;
        }
        .navbar__icon--collapsed {
            display: block;
        }
    }
    &.resize--expanded {
        min-width: 220px;
        .onexpanded--hide {
            display: none
        }
        .navbar__item span {
            opacity: 1;
            transition: opacity 0.2s $cb-fast;
        }
        .navbar__icon--collapsed {
            display: none;
        }
    }
    &__items {
        padding-left: 0;
        margin-top: 0;
    }
    &__item {
        position: relative;
        list-style: none;
        display: flex;
        align-items: center;
        min-height: 50px;
        white-space: nowrap;
        &--info {
            margin-bottom: 2em;
        }
    }
    &__button {
        position: relative;
        width: 100%;
        display: block;
        text-align: left;
        padding: 1em 1.5em;
        background: transparent;
        border: 0;
        outline: none;
        text-decoration: none;
        cursor: pointer;
        span {
            transition: opacity 0.2s $cb-fast;
            opacity: 1;
            vertical-align: middle;
            margin-left: 1em;
        }
        &:after {
            content: "";
            background-color: palette(purple);
            opacity: 0;
            height: 100%;
            width: 3px;
            position: absolute;
            display: block;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        &:active,
        &.active,
        &.router-link-active {
            font-weight: 600;
            &:after {
                width: 1px;
                opacity: 1;
            }
        }
        &:focus {
            outline: none;
        }
        &:hover {
            background-color: palette(blue, light);
            &:after {
                opacity: 1;
            }
        }
    }
    &__icon {
        margin: auto auto 0 1.6em;
        &--collapsed {
            @extend .navbar__icon;
        }
        p {
            display: flex;
            align-items: center;
            color: palette(purple);
            @include font-size(10px);
            span {
                @include font-size(16px);
                margin-right: 5px;
            }
            .svg-icon {
                margin-left: 1em;
            }
        }
    }
    &__toggle {
        opacity: 0;
        position: absolute;
        right: -20px;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 30px;
        background: transparent;
        border: 0;
        outline: 0;
        cursor: pointer;
        transition: opacity 0.2s $cb-fast;
        span {
            transition: all 0.4s $cb-fast;
            position: relative;
            transform: rotate(180deg);
            display: block;
            right: -10px;
            height: 30px;
            &:before,
            &:after {
                content: "";
                background-color: palette(purple);
                width: 2px;
                height: 8px;
                position: absolute;
                left: 8px;
                transform: rotate(0deg);
                border-radius: 16px;
            }
            &:before {
                transform: rotate(-40deg);
            }
            &:before {
                top: 10px;
                transform-origin: 1px 7px 0px;
            }
            &:after {
                top: 16px;
                transform-origin: 1px 1px 0px;
                transform: rotate(40deg);
            }
        }
        &:hover {
            opacity: 1;
            transition: all 0.4s $cb-fast;
            span {
                opacity: 1;
                transition: all 0.4s $cb-fast;
            }
        }
    }
}

.collapsed {
    @include media('<desktop') {
        position: absolute !important;
        z-index: -1;
        .navbar {
            transform: translateX(-220px);
        }
    }
}

.dropdown {
    &__header {
        &.is-active:not(.is-inactive) {
            +.dropdown__content {
                height: auto;
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &__content {
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: opacity .3s;
        visibility: hidden;
        ul {
            padding-left: 35px;
        }
        li {
            list-style: none;
        }
    }
}