
.nav {
    &--bottom {
        width: 100vw;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 3;
        background: palette(green, dark);
        &__container {
            margin: auto;
            max-width: 60%;
        }
        &__items {
            height: 46px;
            padding: 0;
            list-style: none;
            display: flex;
            margin: 0 auto;
            cursor: pointer;
            transition: all .2s ease;
            &:hover {
                height: 150px;
                transition: all .3s ease;
                .nav--bottom__item {
                    pointer-events: visible;
                }
                .nav--bottom__icon {
                    visibility: visible;
                    width: auto;
                    opacity: 0.3;
                    color: white;
                }
                .nav--bottom__description {
                    visibility: visible;
                    width: auto;
                    opacity: 0.3
                }                
            }
        }
        &__item {
            position: relative;
            pointer-events: none;
            margin: auto;
            width: 100%;
            height: 100%;
            text-align: center;
            &.disabled {
                background: palette(green, dark);
                cursor: not-allowed;
                &:hover {
                    .nav--bottom__tooltip {
                        bottom: 100%;
                        transform: translateY(0);
                        opacity: 1;
                        transition: transform 0.2s ease, opacity 0.1s ease;
                    }
                }
            }
        }
        &__button {
            padding: 1em 0;
            margin: auto;
            color: palette(blue, light);
            display: flex;
            flex-direction: column;
            text-decoration: none;
            text-align: center;
            height: 100%;
            transition: all .3s ease;
            outline: none;
            &:hover {
                background: palette(purple);
                transition: all .3s ease;
                .nav--bottom__description {
                    opacity: 1;
                    color: palette(blue, light)
                }
                .nav--bottom__title {
                    color: palette(white)
                }
                .nav--bottom__icon {
                    opacity: 1;
                    color: palette(white) !important
                }
            }
            .disabled & {
                pointer-events: none;
            }
            &:active {
                background: palette(green, dark);
            }
            &--secondary {
                opacity: 0.5;
                pointer-events: none;
                cursor: not-allowed;
                @extend .nav--bottom__button;
                display: inline-block;
                padding: 0;
                background: transparent;
                border: 0;
                position: absolute;
                right: 2em;
                bottom: 0;
                height: auto;
                vertical-align: middle;
                line-height: 46px;
                pointer-events: visible;
                cursor: pointer;
                .svg-icon {
                    margin-left: 1em;
                    vertical-align: middle;
                }
                &:hover {
                    background: transparent;
                }
            }
        }
        &__tooltip {
            opacity: 0;
            z-index: -1;
            position: absolute;
            bottom: 0;
            padding: 1em;
            transform: translateY(120%);
            background: palette(purple, normal);
            border-radius: 3px;
            margin-bottom: 1em;
            transition: transform 0.3s ease, opacity 0.1s ease;
            &__icon {
                display: inline-block;
                height: 25px;
                width: 25px;
                border-radius: 50%;
                border: 1px solid palette(white);
                margin-bottom: 1em;
            }
            &:before {
                content: "";
                width: 0; 
                height: 0; 
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-top: 20px solid palette(purple, normal);
                position: absolute; 
                bottom: -10px;
                right: 0;
                left: 0;
                margin: auto;
            }
            p {
                color: palette(white);
                margin: 0;
            }
        }
        &__icon {
            visibility: hidden;
            margin: auto;
            opacity: 0;
            width: 0;
            overflow: hidden;
            color: palette(purple) !important
        }
        &__description {
            visibility: hidden;
            opacity: 0;
            @include font-size(10px);
            width: 0;
            overflow: hidden;
        }
        &__title {
            text-transform: uppercase;
            display: block;
            margin: auto;
            font-weight: 700;
            color: palette(blue, light);
        }
    }
}