$radio-size: 20px;
$radio-touch-size: 48px;
.re-radio {
  width: auto;
  margin: 16px 8px 16px 0;
  display: inline-flex;
  position: relative;
  &.clear {
    padding: 15px 0;
    display: block;
    position: relative;
    margin: 0 -1.2em 0 -1.2em;
    border-bottom: 1px solid palette(blue, light);
    border-top: 1px solid palette(blue, light);
    & + .clear {
      margin-top: -1px;
    }
    .radio-label {
      display: block;
      position: relative;
      padding-left: 1.2em;
      @include font-size(14px);
      word-break: normal;
      .svg-icon {
        margin-right: 1em;
      }
    }
    .radio-container {
      display: none;
    }
    &.checked {
      background: palette(blue, light);
    }
  }
  &.list__item {
    margin-top: 0 !important;
    padding: 0 !important;
    &:hover {
      background: palette(blue, light) !important;
    }
    .radio-container {
      display: none;
    }
    .radio-label {
      padding: 1.3em 0 1.3em 3em;
      height: auto;
      display: flex;
      width: 100%;
      p {
        margin: 0 0 0 1em;
        width: 100%;
      }
      .svg-icon {
        position: absolute;
        left: 1.2em;
      }
    }
    &.checked {
      background: palette(purple) !important;
      p,
      .svg-icon {
        color: palette(white);
      }
    }
  }
  &.--inline {
    margin: auto;
    background: palette(purple);
    width: 100%;
    text-align: center;
    color: palette(white);
    padding: 0;
    opacity: 0.5;
    & + .clear {
      margin-top: 0;
      margin-left: 1px;
    }
    &.checked {
      background: palette(purple);
      opacity: 1;
      color: palette(white);
      transition: all 0.02s ease-in-out;
    }
    .radio-label {
      padding-left: 0;
      padding: 10px 20px;
      height: 100%;
    }
  }
  &.--feedback {
    margin: auto auto 20px auto;
    background: palette(white);
    border: 1px solid palette(grey, smooth);
    color: palette(grey, dark);
    border-radius: 5px;
    padding: 0;
    transition: all 0.3s ease;
    // .feedback-interactions:not(.checked) div:first-child & {
    //   box-shadow: $shadow-light;
    // }
    .radio-container {
      display: none;
    }
    .radio-label {
      height: 40px;
      line-height: 40px;
      padding-left: 0.5em;
      padding-right: 0.5em;
      width: 100%;
      display: flex;
      @include font-size(14px);
      font-weight: 600;
      overflow: hidden;
      color: palette(grey, dark);
      max-width: 240px;
    }
    &.checked {
      background: palette(green, highlight);
      border: 1px solid palette(green, highlight);
      transition: all 0.02s ease-in-out;
      box-shadow: none; // Animate the size, outside
      animation: pulse 0.4s;
      transform: scale3d(1, 1, 1);
      -webkit-font-smoothing: antialiased;
      transform: translate3d(1, 1, 1); // z-index: 1;
      &:after {
        display: none !important;
      }
      @keyframes pulse {
        0% {
          transform: scale3d(1, 1, 1);
        }
        70% {
          transform: scale3d(1.04, 1.04, 1.04);
        }
        100% {
          transform: scale3d(1, 1, 1);
        }
      }
      @keyframes pulse-font {
        0% {
          transform: scale3d(1, 1, 1);
        }
        70% {
          transform: scale3d(1.06, 1.06, 1.06);
        }
        100% {
          transform: scale3d(1, 1, 1);
        }
      }
      .radio-data__text,
      .radio-data__confidence {
        color: palette(white);
        animation: pulse-font 0.5s;
      }
    }
    .radio-data {
      overflow: hidden;
      transition: transform 0.3s ease;
      &__text {
        max-width: calc(100% - 10px);
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        white-space: nowrap;
        vertical-align: top;
        // color: palette(grey, medium);
      }
      &__info {
        margin-right: 0;
        margin-left: auto;
        transform: translateY(0);
        transition: all 0.3s ease;
      }
      &__confidence {
        width: 40px; // color: palette(white);
        @include font-size(12px);
        display: inline-block;
        text-align: center;
        line-height: 1.5em;
        border-radius: 2px;
      }
    }
    &:not(.checked):hover {
      box-shadow: 0px 3px 8px 3px rgba(222, 222, 222, 0.4) !important;
      border-color: palette(grey, light);
    }
  }
  &.discard {
    color: palette(grey, dark);
    margin: 0;
    .radio-container {
      display: none;
    }
    .radio-label {
      padding: 0;
    }
    &.checked {
      color: palette(red);
      transition: all 0.02s ease-in-out;
    }
  }
  &.checked {
    color: palette(white);
  }
  &.disabled {
    opacity: 0.5;
  }
  &:not(.disabled) {
    cursor: pointer;
    .radio-label {
      cursor: pointer;
    }
  }
  .radio-container {
    width: $radio-size;
    height: $radio-size;
    position: relative;
    border-radius: 50%;
    background: palette(purple);
    transition: $swift-ease-out;
    &:before {
      @include absoluteCenter;
      width: $radio-touch-size;
      height: $radio-touch-size;
      border-radius: 50%;
      transition: $swift-ease-in;
      content: ' ';
    }
    &:after {
      position: absolute;
      background: palette(white);
      top: 6px;
      right: 6px;
      bottom: 6px;
      left: 6px;
      border-radius: 50%;
      opacity: 0;
      transform: scale3D(0.38, 0.38, 1);
      transition: $swift-ease-in;
      content: '';
    }
    input {
      position: absolute;
      left: -999em;
    }
  }
  .radio-label {
    height: $radio-size;
    padding-left: 8px;
    line-height: $radio-size;
  }
}

.re-radio.checked {
  .radio-container {
    &:after {
      opacity: 1;
      transform: scale3D(1, 1, 1);
      transition: $swift-ease-out;
    }
  }
}
