
$toast-colors: () !default;
$toast-colors: map-merge(
    (
      "success": #28a745,
      "info": #17a2b8,
      "warning": #ffc107,
      "error": #dc3545,
      "default": #ffffff
    ),
    $toast-colors
);
.notices {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em;
  overflow: hidden;
  z-index: 1052;
  pointer-events: none;


  // Colors
  @each $color, $value in $toast-colors {
    .toast-#{$color} {
      background-color: $value;
    }
  }

  // Individual toast position
  .toast {
    &.is-top, &.is-bottom {
      align-self: center;
    }
    &.is-top-right, &.is-bottom-right {
      align-self: flex-end;
    }
    &.is-top-left, &.is-bottom-left {
      align-self: flex-start;
    }
  }

  // Notice container positions
  &.is-top {
    flex-direction: column;
  }
  &.is-bottom {
    flex-direction: column-reverse;
  }
  &.is-custom-parent {
    position: absolute;
  }
}
.toast {
  $this: &;
  display: inline-flex;
  align-items: center;
  animation-duration: 150ms;
  margin: 0.5em 0;
  box-shadow: $shadow;
  border-radius: 0.25em;
  pointer-events: auto;
  color: #fff;
  min-height: 3em;
  cursor: pointer;
  .toast-text {
    margin: 0;
    padding: 1.5em;
  }
  &-default {
    color: palette(grey, dark);
    #{$this}__close:after {
      color: palette(grey, dark) !important;
    }
  }
  &__button {
    color: palette(purple);
    margin: 0 3em;
  }
  &__close {
    margin-right: 1em;
    &:after {
      content: '\2573';
      color: palette(white);
      font-size: 10px;
    }
  }
}
// Animations are taken from animate.css
// https://daneden.github.io/animate.css

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

/**
 * Vue Transitions
 */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 150ms ease-out;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}