$badge-height: 26px;
$badge-color: palette(purple);
$highlighted-color: palette(green, highlight-light);
.page {
  $this: &;
  &__block {
    display: block;
    position: relative;
    padding: 0.6em 4em;
    &__text {
      @include font-size(16px);
      @extend %clearfix;
      position: relative;
      padding: 0.45em;
      margin: 0;
      line-height: 1.4em;
      color: palette(grey, medium);
      transition: background 0.3s ease;
    }
    &.--highlighted:not(.active) {
      #{$this}__block__text {
        background: #f9fbf1;
        color: palette(grey, dark);
      }
    }
    &.active {
      #{$this}__block__text {
        background: #f9fbf1;
        color: palette(grey, dark);
      }
    }
    &.--compare-mode {
      cursor: pointer;
      #{$this}__block__text {
        &:hover,
        &:focus {
          .button-copy {
            display: inline-block;
          }
        }
      }
      &.--highlighted {
        #{$this}__block__text {
          background: $highlighted-color;
          color: palette(grey, dark);
        }
      }
      &:not(.--highlighted):hover {
        .button-copy {
          display: inline-block;
        }
      }
    }
    &.active {
      & + #{$this}__badge {
        color: $badge-color;
        box-shadow: none;
        &:after {
          height: $badge-height - 4px;
          width: $badge-height - 4px;
          transition: none;
        }
      }
      .button-copy {
        display: inline-block;
      }
    }
  }
  &__badge {
    color: palette(white);
    background: $badge-color;
    border-radius: 50%;
    width: $badge-height;
    height: $badge-height;
    line-height: $badge-height;
    text-align: center;
    position: absolute;
    right: -$badge-height/2;
    top: 1em;
    cursor: pointer;
    box-sizing: content-box;
    box-shadow: $shadow-100;
    text-decoration: none;
    outline: none !important;
    @include font-size(13px);
    font-weight: 600;
    z-index: 1;
    &:after {
      content: "";
      @include absoluteCenter;
      background: palette(white);
      height: 0;
      width: 0;
      border-radius: 50%;
      z-index: -1;
      transition: none;
    }
    &:hover {
      color: $badge-color;
      transition: all 0.5s ease;
      box-shadow: none;
      &:after {
        height: $badge-height - 4px;
        width: $badge-height - 4px;
        transition: all 0.5s ease-in-out;
      }
    }
  }
}
.button-copy {
  margin-bottom: 0;
  display: none;
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
  background: palette(grey, light);
  min-height: 24px;
  padding: 0 0.5em;
  &:hover,
  &:focus {
    background: darken(palette(grey, light), 10%);
  }
}

.fade-enter-active {
  transition: opacity 0.4s ease-out 0.2s;
}
.fade-leave-active {
  transition: opacity 0.2s ease-out;
}