$pageViewWidth: calc(100% - 35%);
.header--fixed {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    border-bottom: 2px solid palette(grey, light);
    opacity: 1;
    transition: opacity 0.1s ease 0.5s
  }
  .body {
    margin-top: 160px;
  }
}
.header--hidden {
  .header {
    position: fixed;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
  }
}
.container {
  @extend %container;
}
.page {
  &__header {
    width: $pageViewWidth;
    display: flex;
    margin-top: -1em;
    min-height: 2em;
    .button-clear {
      margin-left: auto;
    }
  }
  &__view {
    background: palette(white);
    width: $pageViewWidth;
    margin-bottom: 1px;
    position: relative;
    box-shadow: $shadow;
    margin-bottom: 2em;
    padding: 2em 0;
    min-height: 100vh;
    border: 2px solid palette(white);
    &.loading-skeleton {
      pointer-events: none;
      ::v-deep .page__badge {
        display: none;
      }
      ::v-deep .page__block__text {
        width: auto !important;
        background: linear-gradient(
          250deg,
          darken(palette(blue, light), 5%),
          palette(blue, light)
        ) !important;
        background-size: 300% 200%;
        color: transparent !important;
        animation: bg-gradient 2s ease infinite;
      }
      @for $i from 1 through 10 {
        ::v-deep .page__view__inner > div:nth-of-type(#{$i}) .page__block__text {
          animation: fade 3s ease infinite;
          animation-delay: $i * 0.5s;
        }
      }
    }
    &__block {
      position: relative;
    }
  }
  &__number {
    position: fixed;
    right: 2em;
    top: 0;
    display: none;
    background: palette(white);
    border-radius: 10px;
    box-shadow: $shadow;
    padding: 0.5em;
    .--visible & {
      display: block;
    }
  }
}
@keyframes bg-gradient {
  0% {
    background-position: 0% 2%;
  }
  50% {
    background-position: 100% 99%;
  }
  100% {
    background-position: 0% 2%;
  }
}
@keyframes fade {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}