.breadcrumbs {
  margin-right: auto;
  margin-left: 1em;
  display: inline-block;
  list-style: none;
  padding-left: 0;
  &__area {
    width: 100%;
    &__content {
      display: flex;
      align-items: center;
    }
    &--right {
      margin-right: 0;
      margin-left: auto;
    }
  }
  &__item {
    margin: auto 0.5em auto auto;
    color: palette(white);
    text-decoration: none;
    outline: none;
    &:not(:last-child):after {
      content: '/';
      margin-left: 0.5em;
    }
    &:hover, &:focus {
      transition: all 0.3s ease;
      color: darken(palette(white), 5%);
    }
    &:last-child {
      font-weight: bold;
    }
  }
}
.button-shadow {
  position: relative;
  background: palette(white);
  padding: 0.5em;
  box-shadow: 0 0 5px palette(grey);
  &:hover, &:focus {
    box-shadow: 0 0 7px palette(grey);
  }
}
