.card {
    position: relative;
    background: palette(white);
    border-radius: 1px;
    transition: all 0.4s $cb-fast;
    line-height: 1.2em;
    border: 3px solid transparent;
    margin: 10px;
    height: auto;
    width: 25%;
    padding: 0.5em;
    text-align: center;
    @include font-size(14px);
    color: palette(grey, dark);
    &:after {
        content: "";
        display: block;
        padding-bottom: 25%;
    }
    &__grid {
        @include grid( $flex-wrap: wrap, $gutter: 20px);
        margin-bottom: 3em;
        >* {
            margin-bottom: 2em;
            @include grid-col($col: 3, $gutter: 20px);
            @include media('<tablet') {
                @include grid-col($col: 6, $gutter: 20px);
            }
        }
        &.tab__content {
            margin-top: 1em;
        }
    }
    &__content {
        display: flex;
        flex-flow: column;
        height: 100%;
    }
    &__button {
        margin-bottom: 0;
        margin-top: auto;
        transition: all .3s ease;
        opacity: 0;
    }
    &__icon {
        float: left;
        top: 20px;
        left: 20px;
    }
    &__title {
        margin-left: 60px;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: normal;
        @include font-size(14px)
    }
    &__subtitle {
        margin-left: 60px;
        margin-top: 0;
        font-weight: normal;
    }
    &__text {
        display: block;
        font-weight: normal;
    }
    p {
        margin-top: 1em;
        @include font-size(16px);
    }
    .svg-icon {
        margin: auto;
        fill: palette(grey, dark)
    }
    &:not([disabled]):hover {
        border: 3px solid palette(purple);
        .card__button:not([disabled]) {
            opacity: 1;
        }
        .card__button[disabled] {
            opacity: 0.4;
            pointer-events: none
        }
    }
    &.disabled {
        opacity: 1;
    }
    &.disabled:hover {
        border: 3px solid lighten(palette(purple), 40%);
    }
    &[disabled] {
        opacity: 0.5;
        cursor: not-allowed
    }
    &:hover {
        transition: all 0.4s $cb-fast;
    }
}

.card--text {
    @extend .card;
    word-break: break-word;
    min-height: 250px;
    &:after {
        padding-bottom: 0;
    }
    .card--text__header {
        text-align: left;
        p {
            margin: 0
        }
    }
    .card--text__body {
        text-align: left;
        height: 100%;
        p {
            margin: 0;
            @include font-size(13px)
        }
    }
    .tags {
        @include grid( $flex-wrap: wrap);
        padding-top: 1em;
        max-width: 185px;
    }
    .tag {
      @include grid-col($col: 6, $gutter: 1em);
      @include font-size(13px);
      word-break: normal;
      margin-left: 0;
      span {
        background: palette(yellow);
        display: inline-block;
        min-width: 80px;
        border-radius: 1px;
        text-align: center;
      }
    }
    .description {
        font-weight: 200;
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
    }
    .author {
        padding-top: 1em;
        font-weight: 600;
    }
}