.vue-slider-component {
    position: relative;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    padding: 0;
    &.vue-slider-disabled {
        .vue-slider-dot {
            background: palette(grey, light);
            border: 0;
            box-shadow: none;
        }
    }
}

.vue-slider-component.vue-slider-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.vue-slider-component.vue-slider-has-label {
    margin-bottom: 15px;
}

.vue-slider-component.vue-slider-disabled .vue-slider-dot {
    cursor: not-allowed;
}

.vue-slider-component .vue-slider {
    position: relative;
    display: block;
    border-radius: 15px;
    background-color: #b0a564;
}

.vue-slider-component .vue-slider::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.vue-slider-component .vue-slider-process {
    position: absolute;
    border-radius: 15px;
    background-color: #3b3269;
    transition: all 0s;
    z-index: 1;
}

.vue-slider-component .vue-slider-process.vue-slider-process-dragable {
    cursor: pointer;
    z-index: 3;
}

.vue-slider-component.vue-slider-horizontal .vue-slider-process {
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    will-change: width;
}

.vue-slider-component.vue-slider-vertical .vue-slider-process {
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    will-change: height;
}

.vue-slider-component.vue-slider-horizontal-reverse .vue-slider-process {
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
}

.vue-slider-component.vue-slider-vertical-reverse .vue-slider-process {
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
}

.vue-slider-component .vue-slider-dot {
    position: absolute;
    border-radius: 50%;
    border: 1px solid palette(purple);
    background-color: #fff;
    transition: all 0s;
    will-change: transform;
    cursor: pointer;
    z-index: 4;
}

.vue-slider-component .vue-slider-dot.vue-slider-dot-dragging {
    z-index: 5;
}

.vue-slider-component.vue-slider-horizontal .vue-slider-dot {
    left: 0;
}

.vue-slider-component.vue-slider-vertical .vue-slider-dot {
    bottom: 0;
}

.vue-slider-component.vue-slider-horizontal-reverse .vue-slider-dot {
    right: 0;
}

.vue-slider-component.vue-slider-vertical-reverse .vue-slider-dot {
    top: 0;
}

.vue-slider-component .vue-slider-tooltip-wrap {
    display: none;
    position: absolute;
    z-index: 9;
}

.vue-slider-component .vue-slider-tooltip {
    display: none;
}

.vue-slider-component .vue-slider-dot.vue-slider-hover:hover .vue-slider-tooltip-wrap {
    display: block;
}

.vue-slider-component .vue-slider-dot.vue-slider-always .vue-slider-tooltip-wrap {
    display: block !important;
}

.vue-slider-component .vue-slider-piecewise {
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    height: 100%;
    list-style: none;
}

.vue-slider-component .vue-slider-piecewise-item {
    position: absolute;
    width: 8px;
    height: 8px;
}

.vue-slider-component .vue-slider-piecewise-dot {
    @include absoluteCenter;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 50%;
    z-index: 2;
    transition: all 0.3s;
}

.vue-slider-component .vue-slider-piecewise-item:first-child .vue-slider-piecewise-dot,
.vue-slider-component .vue-slider-piecewise-item:last-child .vue-slider-piecewise-dot {
    visibility: hidden;
}

.vue-slider-component.vue-slider-horizontal .vue-slider-piecewise-label,
.vue-slider-component.vue-slider-horizontal-reverse .vue-slider-piecewise-label {
    position: absolute;
    display: inline-block;
    top: 100%;
    left: 50%;
    white-space: nowrap;
    font-size: 12px;
    color: #333;
    transform: translate(-50%, 8px);
    visibility: visible;
}

.vue-slider-component.vue-slider-vertical .vue-slider-piecewise-label,
.vue-slider-component.vue-slider-vertical-reverse .vue-slider-piecewise-label {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 100%;
    white-space: nowrap;
    font-size: 12px;
    color: #333;
    transform: translate(8px, -50%);
    visibility: visible;
}

.vue-slider-component .vue-slider-sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute !important;
}

.vue-slider {
    .filter & {
        background: palette(purple);
        border-radius: 0;
        margin-top: -12px;
    }
}

.vue-slider-dot {
    .filter & {
        border: 1px solid palette(purple);
        &:before {
            content: '';
            @include absoluteCenter;
            height: 7px;
            width: 7px;
            border-left: 1px solid palette(purple);
            border-right: 1px solid palette(purple);
        }
        &:after {
            content: '';
            @include absoluteCenter;
            height: 7px;
            width: 1px;
            background: palette(purple);
        }
    }
}

.vue-slider-process {
    .filter & {
        background: palette(purple);
    }
}