.table-actions {
    min-height: 43px;
    background: rgba(255, 255, 255, 0.37);
    border: 1px solid palette(grey, light);
    padding: 0 1em;
    display: flex;
    align-items: center;
    transition: all .2s ease;
    &--info {
      max-width: 250px;
      margin-left: auto;
      display: flex;
      min-height: auto;
      ::v-deep .svg-icon {
        order: 2;
      }
      ::v-deep .re-input-container input.re-input {
        height: 40px;
      }
    }
    &:hover,
    &:focus {
        background: rgba(255, 255, 255, 0.7);
    }
    &.active {
        background: rgba(255, 255, 255, 0.7);
        border: 1px solid palette(grey, smooth);
        transition: all .2s ease;
    }
    p {
        display: inline-block;
        margin: 0;
        @include font-size(14px);
        span {
            font-weight: 200;
            margin: 0 3px;
        }
    }
    & ::v-deep .paginate-links {
        display: flex;
        text-align: left;
        padding-left: 0;
        margin: 0;
        &__text {
            display: inline-block;
            margin: 0;
            margin-right: 1em;
            white-space: nowrap;
            span {
                font-weight: 300
            }
        }
        li a {
            cursor: pointer;
            height: 20px;
            width: 20px;
            display: inline-block;
            font-size: 0;
            position: relative;
            &:before {
                opacity: 0.6;
                border-color: palette(grey, dark);
                border-style: solid;
                border-width: 2px 2px 0 0;
                content: '';
                display: inline-block;
                height: 8px;
                width: 8px;
                transition: all 150ms cubic-bezier(1, -0.115, 0.975, 0.855);
                box-sizing: inherit;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
            &:hover {
                &:before {
                    opacity: 1;
                }
            }
        }
        .disabled {
            a {
                cursor: default;
            }
            a:before {
                opacity: 1;
                border-color: palette(grey, smooth);
            }
        }
        .prev a:before {
            transform: rotate(225deg);
        }
        .next a:before {
            transform: rotate(45deg);
        }
        li {
            list-style: none;
            display: flex;
        }
    }
}
