.tabs {
  position: relative;
  text-align: left;
  align-items: center;
  @include font-size(15px);
  display: flex;
  &__buttons {
      display: inline;
      &:hover {
          .active{
              border-bottom: 3px solid transparent;
          }
      }
  }
  &__links {
    margin-right: 2em;
    margin-left: auto !important;
  }
  &__filters {
    display: flex;
    margin-right: 0;
    margin-left: 2em;
    .button--icon {
      margin-left: 0.7em;
    }
  }
}
.tab {
    padding: 0.8em 1.5em;
    font-weight: normal;
    display:inline-block;
    vertical-align:baseline;
    background: none;
    border: 0;
    outline: none;
    border-bottom: 3px solid transparent;
    transition: border-color .2s ease;
    color: palette(orange);
    cursor: pointer;
    &.active {
        font-weight: 700;
        border-bottom: 3px solid palette(orange);
        transition: border-color .4s ease;
    }
    &:hover {
        border-bottom: 3px solid palette(orange) !important;
        transition: border-color .4s ease;
    }
}