.topbar {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 80px;
  position: relative;
  background: linear-gradient(90deg, #4C10BC 3%, #6A29E2 64%);
  border-bottom: 1px solid palette(white);
  font-family: $sff;
  color: palette(white);
  a {
    text-decoration: none;
  }
  &__container {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    @include media('>xxl') {
      max-width: 1600px;
    }
  }
  &__title {
    display: inline-block;
    @include font-size(30px);
    font-weight: 400;
    margin-right: 1em;
  }
  &__icon {
    max-width: 200px;
    margin-left: 3em;
    color: palette(blue, smooth) !important;
    ::v-deep .branding__text {
      margin-bottom: 0;
      margin-top: 5px;
    }
  }
  &__nav {
    margin-right: 0;
    margin-left: auto;
    display: flex;
  }
  &__step {
    @include font-size(30px);
    display: inline-block;
  }
  &__actions {
    position: relative;
    max-width: 1200px;
    margin: auto;
    display: block;
    @include media('>xxl') {
      max-width: 1600px;
    }
    .actions & {
      position: relative;
    }
  }
  .title {
    @include font-size(18px);
    font-weight: 900;
    font-family: 'Encode Sans';
  }
  &__button {
    color: palette(white);
    text-decoration: none;
    @include font-size(14px);
    margin-left: 3em;
    &:hover,
    &:active {
      border-color: palette(white);
    }
    .actions & {
      right: 1em;
    }
    .svg-icon {
      margin-left: 0.5em;
      margin-bottom: 2px;
    }
  }
}
